.card {
  margin-top: 50px;
  max-width: 100%;
  padding: 20px;
  background-color: #d7df23;
  border: 2px solid #cebcb4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.656);
  overflow: hidden;
  border-radius: 25px;
}
.card-title {
  font-size: 30px;
  text-transform: uppercase;
  color: gray;
}
.card-body {
  background-color: #ffffff;
}
.card-total {
  margin-top: 30px;
  border-radius: 10px;
  border-color: #d7df23;
  padding: 10px;
}
.card-total:hover {
  color: #d4bcb4;
  border-radius: 5px;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}
.card-image {
  max-width: 100%;
  height: max-content;
  padding: 15px;
  border-radius: 20px;
  justify-items: center;
  color: #d7df23;
  background-color: #ffffff;
}
.card-content {
  padding: 16px;
  text-align: center;
  color: gray;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 20px;
}
.card h2 {
  font-size: 3.5rem;
  margin: 0;
}
.card p {
  font-size: 3rem;
  margin: 0;
}

.container-titulo {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;
  background-color: #d7df23;
  font-weight: bold;
}

.subtitulo-container {
  text-align: center;
  color: #d4bcb4;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

.row {
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  width: 100%;
  gap: 20px;
}

.photos {
  padding: 10px;
  background-color: #d7df23;
  border-radius: 25px;
  max-width: 100%;
}
.photos:hover {
  border: 1px solid #d7df23;
}
.photos p {
  background-color: #cebcb4;
  color: #d7df23;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
}

.footer-container {
  display: grid;
  background-color: #ffffff;
  color: #d4bcb4;
  text-align: center;
  font-size: 25px;
  border-top: #d7df23 solid 4px;
  display: grid;
  margin-top: 50px;
  text-transform: capitalize;
  width: 100%;
}

header {
  border-color: solid 20px #e6e4e4;
}

/*Header*/
.mi-logo:hover {
  width: 292px;
}

.mi-logo {
  width: 250px;
  lighting-color: #a69b9b;
}

.mi-link:hover {
  background-color: #d7df23;
  color: #d4bcb4;
  border-radius: 30px;
  opacity: 10px;
  padding: 5px;
}

.mi-link {
  color: #d4bcb4;
}

.fras-container p {
  border: #d7df23;
  margin: 10px;
  border-radius: 25px;
}

placeholder {
  color: #d7df23;
}

input,
textarea [type=text] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #d7df23;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 15px;
  text-align: start;
}

/*FORM contactos*/
.form-floating {
  text-align: start;
}

.label-form {
  display: block;
  font-weight: 100%;
  margin-bottom: 5px;
  border: #d4bcb4;
  text-transform: uppercase;
  text-align: start;
}

.btn-form {
  background-color: #d4bcb4;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  margin-top: 20px;
  cursor: pointer;
  text-align: start;
  border-radius: 15px;
}

.contacto-tittle {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;
  background-color: #d7df23;
  font-weight: bold;
}

.contacto-subtittle {
  text-align: center;
  color: #d4bcb4;
  margin-top: 20px;
  margin-bottom: 30px;
}

.fieldset-container {
  display: grid;
  border-radius: 20px;
  padding: 20px;
  color: #d4bcb4;
  background-color: #f4f4f4;
  width: 100%;
}

.form-container {
  margin-top: 20px;
  text-align: start;
  width: 100%;
}

.legend-container {
  font-size: 40px;
  background-color: #ffffff;
  font-weight: bold;
}
.legend-container:hover {
  color: #d7df23;
  border-radius: 5px;
}

.input-container {
  border-radius: 15px;
  padding: 15px;
  color: #d4bcb4;
  font-size: 25px;
}

.input-container {
  border-radius: 15px;
  color: #d7df23;
}

.carousel-item {
  transition: 2s ease;
}

.carousel-indicators {
  size: 50px;
}

.carousel-present {
  font-size: 50px;
  color: #d7df23;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
}

.tittle-links {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;
  background-color: #d7df23;
  font-weight: bold;
}

.tittle-linkstwo {
  text-align: center;
  color: #d4bcb4;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

.tittle-linkstwo p {
  color: gray;
  text-align: center;
  text-transform: none;
  font-weight: lighter;
  font-size: 25px;
  margin-top: 30px;
}

@keyframes card-body {
  0% {
    width: 220px;
  }
  25% {
    width: 240px;
  }
  50% {
    width: 260px;
  }
  75% {
    width: 290px;
  }
  100% {
    width: 300px;
  }
}
.card-body {
  background-color: #d7df23;
  animation-name: card-body;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in;
}

@keyframes accordion-button {
  75% {
    opacity: 60%;
  }
  100% {
    opacity: 100%;
  }
}
.accordion-button {
  animation-name: accordion-button;
  animation-duration: 5s;
  animation-iteration-count: initial;
}

body {
  background-color: #ffffff;
  font-size: 30px;
}

.mi-logo {
  width: 250px;
  lighting-color: #a69b9b;
}
.mi-logo:hover {
  width: 292px;
}

header {
  border-color: solid 20px #e6e4e4;
}

.mi-link {
  color: #d4bcb4;
}
.mi-link:hover {
  background-color: #d7df23;
  color: #d4bcb4;
  border-radius: 30px;
  opacity: 10px;
  padding: 5px;
}

.main-container {
  margin: 20px 30px;
}

.accordion-button {
  color: #ffffff;
  background-color: #d7df23;
  font-size: 35px;
}

/*# sourceMappingURL=estilo.css.map */
