@import "./variables";
@import "./mixins";

@keyframes accordion-button {
  75% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.accordion-button {
  animation-name: accordion-button;
  animation-duration: 2s;
  animation-iteration-count: initial;

  &:not(.collapsed) {
    background-color: $tidal-color;
  }
}

@keyframes carousel {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.carousel {
  animation-name: carousel;
  animation-duration: 2s;
  animation-iteration-count: initial;
}

@keyframes tittle-links {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.tittle-links {
  animation-name: tittle-links;
  animation-duration: 2s;
  animation-iteration-count: initial;
}
