@import "./variables";
@import "./mixins";

.carousel-item {
  transition: 2s ease;
}

.carousel-indicators {
  size: 50px;
}

.carousel-present {
  font-size: 50px;
  color: $yellow-color;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
}

.tittle-links {
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  margin-top: 60px;
  background-color: $yellow-color;
  font-weight: bold;
}

.tittle-linkstwo {
  text-align: center;
  color: $focus-gray;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

.tittle-linkstwo p {
  color: $focus-gray;
  text-align: center;
  text-transform: none;
  font-weight: lighter;
  font-size: 25px;
  margin-top: 30px;
}
