@import "./variables";

.footer-container {
  background-color: $tidal-color;
  color: $gray-color;
  text-align: center;
  font-size: 25px;
  border-top: $yellow-color solid 4px;
  text-transform: uppercase;
  width: 100%;
  padding: 40px;
  margin-top: 40px;
}
