$yellow-color: #d7df23;
$rose-color: #d4bcb4;
$gray-ligth-color: #e6e4e4;
$gray-color: #a69b9b;
$white-color: #ffffff;
$focus-gray: gray;
$soft-amber-color: #cebcb4;
$wild-sand-color: #f4f4f4;
$tidal-color: #e4e778;
$body-bg: #000;
$body-color: #111;
