@import "../css/bootstrap.min.css";
@import "./variables";
@import "./cards";
@import "./footer";
@import "./header";
@import "./input";
@import "./carrusel";
@import "./animation";

html body {
  background-image: radial-gradient($tidal-color, $white-color);
  font-size: 25px;
}

.mi-logo {
  width: 250px;
  lighting-color: $gray-color;
}

header {
  border-color: solid 20px $gray-ligth-color;
}

.mi-link {
  color: $rose-color;
  font-size: 28px;

  &:hover {
    background-color: $yellow-color;
    color: $rose-color;
    border-radius: 30px;
    opacity: 10px;
    padding: 5px;
  }
}

.main-container {
  margin: 20px 30px;
}

.accordion-button {
  color: $white-color;
  background-color: $yellow-color;
  font-size: 30px;
}

.subtittle-container {
  background-color: $tidal-color;
  margin: 20px;
  color: $white-color;
}

.card-phrase {
  flex-direction: unset;
  padding: 15px;
  border-radius: 15px;
}

.tittle-phrase {
  padding: 15px;
}
