@import "./cards";
@import "./footer";
@import "./header";
@import "./input";
@import "./variables";

body {
  background-color: #ffffff;
  font-size: 30px;
}

.mi-logo {
  width: 250px;
  lighting-color: $gray-color;

  &:hover {
    width: 292px;
  }
}

header {
  border-color: solid 20px $gray-ligth-color;
}

.mi-link {
  color: $rose-color;

  &:hover {
    background-color: $yellow-color;
    color: $rose-color;
    border-radius: 30px;
    opacity: 10px;
    padding: 5px;
  }
}
